@import "util";

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  cursor: default;
}

body {
  min-height: 800px;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  a {
    color: white;

    &:hover {
      color: gold;
    }
  }
}

.ui-autocomplete {
  width: 300px;
  max-height: 300px;
  overflow-y: auto;

  .ui-menu-item {
    width: 300px;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#loading_layer {
  position:absolute;
  left:0px;
  top:0px;
  z-index:1000;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.6);
}

.pagination {
  a {
    color: white;

    &:hover {
      color: gold;
    }
  }

  .current {
    color: gold;
  }

  .disabled {
    color: lightgrey;
  }
}

.menu {
  width: 100px;
  height: 90px;
  background-color: lightblue;

  .menu_button {
    width: 100px;
    height: 30px;
    background-color: lightgreen;
    cursor: pointer;
    border: 1px solid white;
  }
}

.selected {
  background-color: red !important;
}

.hover {
  background-color: pink !important;
}

